element-styles {
    display: inline-block;
    width: 576px;
 }
 body{
    padding: 0;
 }
 .freshify-tagline-style {
    flex: 0 0 auto;
    font: 300 30px Poppins, sans-serif;
    color: rgba(135, 199, 92, 1);
    white-space: pre-wrap;
 }
 
 .freshify-title {
    flex: 0 0 auto;
    font: 800 78px Poppins, sans-serif;
    color: rgba(135, 199, 92, 1);
    white-space: pre-wrap;
 }
 
 .div-style-f4ea81a6 {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-width: 576px;
    
    border: none;
 }
 
    